h1{
    font-weight:bold;
    color:rgb(219, 73, 15);
    text-align: center
}
h2{
    color:rgb(219, 73, 15);
}
body{background-image: url("https://goo.gl/B7puFY");
}
p{
    color:black;
    font-style:papyrus Medium;
}
ul{color:black;
    font-style:italic;
}
.ice-cream {
    opacity: 0.5;
}

.hours {
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    left: 203px;
    top: 253px;
}
a{
    text-decoration: none; 
}
.reviews{
    font-weight: bold;
    color: blueviolet;
    text-decoration: underline
}

.title {
    font-weight: bold;
    font-style: italic;
    text-align: left
}