h1{
    font-weight:bold;
    color:rgb(219, 73, 15);
    text-align: center
}
h2{
    color:#e60000;
    font-style: Comic
}
body{
    background-image: url("https://goo.gl/B7puFY");
    font-weight:bold;
    font-size:125%;
}
p{
    color:black;
    font-style:oblique;
}
ul{color:black;
    font-style:italic;
}
.ice-cream {
    opacity: 10.0;
}

.hours {
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    left: 155px;
    top: 217px;
}
a{
    text-decoration: none; 
}
.reviews{
    font-weight: bold;
    color: blueviolet;
    text-decoration: underline
}

.title {
    font-weight: bold;
    font-style: italic;
    text-align: left
}
.fb{
    width: 50px;
    height: 50px;
}

.twit{
    width: 50px;
    height: 50px;
}